@model Guitar

<div class="col">
    <div class="card guitar-card">
        <img src="@Model.ImageThumbnailUrl" class="card-img-top" alt="@Model.Name" style="width: 15rem;">
        <div class="card-body guitar-button">
            <h4 class="d-grid">
            </h4>

            <div class="d-flex justify-content-between mt-2">
                <h2 class="text-start">
                    <a asp-controller="Guitar"
                       asp-action="Details"
                       asp-route-id="@Model.Id"
                       class="guitar-link">@Model.Name</a>
                </h2>
                <h5 class="text-nowrap">
                    @Model.Price.ToString("c")
                </h5>
            </div>
        </div>
    </div>
</div>